CMakeCache.txt
*/CMakeFiles/*
*.cmake
CMakeFiles*
*.a
*.so
Testing
cmake.depends
cmake.check_depends
cmake.check_cache
core
core.*
gmon.out
install_manifest.txt
doc/html/*
*~
.kdev_include_paths
src.kdev4
.cproject
.project
tet_captured
tet_lock
*.pc
Makefile
*-test
TC/config
samples/.metadata
TC/results/
TC/testcase/wifi_test
build-stamp
cmake_build_tmp/
config.cfg
configure-stamp
debian/capi-network-wifi-dbg.debhelper.log
debian/capi-network-wifi-dbg.substvars
debian/capi-network-wifi-dbg/
debian/capi-network-wifi-dev.debhelper.log
debian/capi-network-wifi-dev.substvars
debian/capi-network-wifi-dev/
debian/debhelper.log
debian/files
debian/substvars
debian/tmp/
debian/capi-network-wifi.debhelper.log
debian/capi-network-wifi.postinst.debhelper
debian/capi-network-wifi.postrm.debhelper
debian/capi-network-wifi.substvars
debian/capi-network-wifi/
test/wifi_test
test/wifi_test_regress
